.footer {
	background-image: linear-gradient(#f6f6f6,#0f0f0fa8) ;
	
	padding: 0 0 20px 0;
	display: grid;
	gap: 20px;
    //border-top-left-radius: 5%;
    //border-top-right-radius: 5%;
	
	
	.social {
		display: grid;
		grid-auto-flow: column;
		justify-content: center;
		

		.fa {
			width: 4rem;
			height: 4rem;
			display: grid;
			justify-content: center;
			align-content: center;
			border-radius: 40%;
			transition: .3s;
			color: white;
            margin: 1.5rem;
            text-decoration: none;
			
		}
		.fa-facebook {
			background: #3b5998;
            font-size: 20px;
            &:hover {
				background: white;
				color: #3b5998;
			}
		}
		.fa-instagram {
			background: #833AB4;
            font-size: 20px;
            &:hover {
				background: white;
				color: #833AB4;
			}
		}
		.fa-linkedin {
			background: #0e76a8;
            font-size: 20px;
            &:hover {
				background: white;
				color: #0e76a8;
			}
		}
	}
	.madeby {
		font-size: 1rem;
		text-align: center;
		font-family: 'Bebas Neue', cursive;
        color: white;
        
	}
}