@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
}
   
.ourPeak {
    background: #F6F6F6;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;    
}

.hobbiesText {
    background: #F6F6F6;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;   
    padding: 60px;
    
    
    

}
.name_peak {
    text-align: center;
    background-color: #F6F6F6;
    font-family: 'Lobster', cursive;
    color: #212121;
    font-size: 80px;
    padding: 150px;
    
}

.container {
    background: #F6F6F6;
    display: grid;
    padding: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(1, auto);
    
    
    .box {
        position: relative;

        
        &:hover {
            transform: scale(1.03);
            transition: .5s;
            box-shadow: 0 0 15px rgba(0,0,0,.8);
            border-radius: 1%;
            .text {
                left: 0;
                background: rgba(0,0,0,.1);
               
            }
        }

        img {
            height: 100%;
            width: 100%;
            border-radius: 1%;
        }

        .text {
            font-size: 35px;
            justify-content: center;
            align-content: center;
            color: white;
            font-family: 'Bebas Neue', cursive;
            background: rgba(0,0,0,.5);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            display: grid;
            transition: .5s;
            border-radius: 1%;
            text-shadow: 0 0 5px #000000;
            a{
                text-decoration: none;
                color: white;
            }
            	
	    }

        
    }
    
}

@media(max-width: 800px) {
        .head {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;
            padding: 0;
            
            a {
                margin:10px;
            }
        }

        .name {
            font-size: 50px;
        }

        .name_peak {
            font-size: 30px;
        }

        .container{
            grid-template-columns: repeat(1, auto);
        }
        
}

@media(min-width: 800px) {
    .container{
        grid-template-columns: repeat(2, auto);
    }
}
.map {
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    padding: 150px;
    background: #212121;
}

.peaks_container {
    background: #F6F6F6;
    display: grid;
    padding: 50px;
    grid-gap: 30px;
    grid-template-columns: repeat(1, auto);

    .peak {
        position: relative;
        overflow: hidden;

        img {
            height: 300px;
            width: 100%;
            object-fit: cover;
            border-radius: 1%;
        }

        .peak_name {
            position: absolute;
            left: 0;
            top: 40%;
            color: #F6F6F6;
            margin-left: 15%;
            font-family: 'Bebas Neue', cursive;
            font-size: 50px;
            //background-image: linear-gradient(#201e1e70,#0f0f0f38) ;
            text-shadow: 0 0 5px #000000;
            
        }
        .info {
            position: absolute;
            left: 75%;
            top: 40%;
            font-family: 'Bebas Neue', cursive;
            color: #F6F6F6;
            font-size: 30px;

            a {
                text-decoration: none;
                color: #F6F6F6;
                text-shadow: 0 0 3px #000000;
                 &:hover {
                    transform: scale(1.5);
                    transition: 1s;
                    font-size: 40px;
                 }
            }
        }

        .p_container {
            top: 0;
            left: 100%;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: left .5s;
            

        }
        .overlay {
            position: relative;
            width: 100%;
            height: 100%;
        }
        &:hover {
            .p_container {
                left: 0;
                background: rgba(0,0,0,.2);
                border-radius: 1%;
                overflow: hidden;
                
            }
        }
    }

    .peak:nth-child(2) {
        img {
            object-position: 100% 25%;
        }
    }

    .peak:nth-child(3) {
        img {
            object-position: 100% 15%;
        }
    }

    .peak:nth-child(4) {
        img {
            object-position: 100% 25%;
        }
    }
}


